<div class="list-block">
 <h4 class="item-name lead">
    {{ item.name }}
    <small>
      {{ day.name }}
      {{ interval.start }} - {{ interval.end }}
    </small>
  </h4>
  <ul class="list-block-content list-group"></ul>
</div>