<div class="list-block">
 <h4 class="item-name lead">
    {{ item.style }}
    <small>
      {{ day.name }}
      {{ time }} - {{ timeEnd }}
    </small>
  </h4>
  <ul class="list-block-content list-group"></ul>
</div>